.wrap-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 600px;
	width: 100%;
	margin: auto;
	z-index: 1001;
	overflow: auto;
	outline: 0;
	transition: all, .3s;
	opacity: 0;
	visibility: hidden;
	background: #ffffff;
	border-radius: 5px;
	.active & {
		opacity: 1;
		visibility: visible;
	}
	.modal-main {
		color: rgba(0,0,0,0.65);
		font-size: 14px;
		line-height: 1.5;
		margin: 0 auto;
		padding-bottom: 24px;
	}
	.modal-body {
		padding: 20px;
	}
	.modal-header {
		border-bottom: 1px solid #000000;
		padding: 15px;
		font-size: 18px;
		position: relative;
		i {
			position: absolute;
			top: 20px;
			right: 14px;
			width: 15px;
			background-size: cover;
			height: 15px;
			transition: all, .3s;
			cursor: pointer;
			&:hover {
				opacity: .7;
			}
		}
	}
}
